@import "tailwindcss";

/* Dark variant define */
@custom-variant dark (&:where(.dark, .dark *));

/* Default font */
* {
  font-family: Outfit, sans-serif;
}

/* Font utilities */
.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}

.font-ovo {
  font-family: var(--font-ovo), serif;
}

/* Light / Dark theme variables */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
}

.dark,
[data-theme="dark"] {
  --bg-color: #0f172a; /* slate-900 */
  --text-color: #f8fafc; /* slate-50 */
}
